html {
    background: rgb(240,225,114);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(245, 171, 223) 100%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    border-radius: 0;
}
.container_1 {
    max-width: 300px;
    margin: 12 auto;
    padding: 20px;
    flex-grow: 1;
    
   
}
.padre{
    display: flex;
    flex-wrap: wrap;
}
.container_2 {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
}
.container_3 {
    max-width: 300px;

    margin: 20px auto;
    padding: 20px;
}

.img_game{
    border: 4px solid #160092; /* Agregar borde alrededor de cada tabla */
    border-radius: 20px;
    align-items: center;
    width: 200px;
    height: auto;
}


.heading_title {
    text-align: center;
    color: rgb(2, 6, 255);
    border-radius: 30px;
    
    background-color: rgb(10, 204, 230);
    padding: 20px;
}
.heading {
   border: 4px solid red;
    margin-top: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    
    background: linear-gradient(0deg, rgb(117, 214, 193) 0%, rgb(245, 171, 223) 100%);
    padding: 20px;
}

.gif-container {
    border-radius: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.gif{
 border-radius: 30px;
    
}

.git {
    align-items: center;
    width: 60px;
    height: auto;
    margin: 0 10px 0 0; /* Adjusted margins */
}

.icon {
    width: 60px;
    height: auto;
    margin: 0 10px 0 0; /* Adjusted margins */
}

footer {
    text-align: center;
}

.pie {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Añadir dirección de columna para apilar verticalmente */
    border: 4px solid #f30000;
    background: linear-gradient(0deg, rgb(239, 255, 98) 0%, rgb(129, 225, 255) 100%);
}

.link-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Aumentar el espacio entre enlaces y copyright */
}

.pie p { /* Seleccionar el párrafo dentro del pie de página */
    margin: 0; /* Eliminar márgenes predeterminados */
    text-align: center; /* Mantener el texto centrado */
}
.name{
    font-size: 30px;

}